<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
    <div class="tile is-child box">
      <p>
        What is psychotherapy? The Greek root words of psychotherapy translate into the healing of the mind, soul, breath, spirit.
        Therapy is an intentional time that is set aside to tend to the parts of ourselves that we often overlook, ignore
        or may have felt we needed to hide for various reasons. The therapeutic relationship provides a safe and confidential
        (legal exceptions to confidentiality will be discussed in our first meeting) space for clients to deepen self-understanding,
        improve patterns of communication, strengthen relationships, relieve symptoms and heal trauma, among many other unique
        goals. Therapy often offers some immediate relief and feelings of greater well-being, and therapy can also take time
        and be challenging. My intention is that we can discuss openly any challenges or unmet needs throughout the therapeutic
        process.
      </p>
    </div>
  </div>
  <div class="tile is-vertical is-parent">
    <div class="tile is-child box">
      <p>What is Imaginal or Depth Psychology? Depth psychology is a form of psychology that is curious about what is below
        the surface, what happens in dreams, in our creative endeavors, and the world’s cultural myths and stories. Imaginal
        psychology breathes life into images, both real and imagined, and can offer a door into healing and insight that
        may be difficult to access with the conscious mind.</p>
    </div>
  </div>
</div>