<div class="tile is-ancestor">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
      <div class="tile is-child box">"
        <h1>You can:</h1>
        <p>
          Live a meaningful life and build positive relationships.
          <br /> Experience life from a place of authenticity.
          <br /> Feel connected to yourself and to others.
        </p>
        <p>
          I provide a safe, supportive and open environment.
          <br /> In this space, you can reconnect to your authentic self.
        </p>
      </div>
    </div>
    <div class="tile is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Using a holistic approach, I will assist you in navigating:</p>
        <ul>
          <li>life’s challenges</li>
          <li>stressors</li>
          <li>opportunities</li>
          <li>transitions</li>
          <li>underlying habitual patterns</li>
          <li>limiting beliefs</li>
        </ul>
      </div>
    </div>
  </div>
</div>